.container
  .hero-unit
    %h1 wow mom
.container
  .row
    .span12
      %h2 hello

.container
  .carousel.slide
    .carousel-inner
      .item.active
        first item
      .item
        second item

= container do
  woah!

= progress_bar do |pb|
  = pb.bar(40)
