= container do
  .hero-unit
    %h1 wow mom
= container do
  .row
    .span12
      %h2 hello

= container do
  .carousel.slide
    .carousel-inner
      .item.active
        first item
      .item
        second item

= container do
  woah!
